*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    
}
.column{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.navbar{
    margin: 0;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
}
.navbar .imgbar{
    width: 40%;
    padding-left: 20%;
}
.navbar img{
    width: 35%;
}

.search{
    border: none;
    background-color: #efefef;
    width: 20%;
    height: 6vh;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
.search i{
    color: #8e8e8e;
}
.search input{
    border: none;
    color: #8e8e8e;
    background-color: #efefef;
    padding: 10px;
    font-size: 1em;
}

.fontawesome{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 100px;
    
}
.fontawesome a{
    color: black;
}

.topside{
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}
.topside img{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border: 2px solid red;
}
.topsides{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .Dmain{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 5%;
} */
/* .column{
    padding-top: 30px;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.dp img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-right: 10px;
}
.maindp{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 20px;
}
.mainarea{
    background-color: white;
    width: 500px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid #8e8e8e;
    border-radius: 5px;
}
.padmain{
    padding: 0 10px 0 10px;
}
.mainfontawesome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    margin: 10px 0 10px 0;
}
.fontawesome1{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
       
}
.fontawesome1 a{
    color: black;
}
.middle .pic1{
    width: 100%;
}
.pspecial{
    margin: 10px 0 10px 0;
}
.commentword{
    color: #8e8e8e;
}
.mini{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.time{
    color: #8e8e8e;
    font-size: 12px;
}
.commentsection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-top: .5px solid #8e8e8e;
    padding: 10px;
}
.commentsection input{
    border: none;
    margin-left: 5px;
    width: 80%;
    color: #8e8e8e;
}
.post{
    color: blue;
}

/* Other Picture Area */
.middle .pic2{
    width: 100%;
}
.middle .pic3{
    width: 100%;
}

/* Story wrapper area */
.storiesWrapper{
    background-color: white;
    width: 400px;
    padding: 10px;
}

.userpic img{
    width: 80px;
    height: 80px;
    border-radius: 100px;
}
/* .username{
    display: flex;
    flex-direction: row;
} */
.stories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.username a{
    text-decoration: none;
    color: black;
}
.username p{
    color: #8e8e8e;
}
.stories a{
    text-decoration: none;
}
.suggest{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.stories1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
.stories1 a{
    text-decoration: none;
}
.userpica1{
    margin-right: 10px;
}
.userpica1 img{
    width: 60px;
    height: 60px;
    border-radius: 100px;
}
.username1{
    margin-right: 150px;
}
.username1 a{
    text-decoration: none;
    color: black;
}
.username1 p{
    color: #8e8e8e;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-top: 10px;
    gap: 5px;
    
}
.bottom a{
    text-decoration: none;
    color: #8e8e8e;
    font-size: 15px;
}
.lang{
    color: #8e8e8e;
    font-size: 15px;
    padding-left: 8px;
}
.final{
    color: #8e8e8e;
    font-size: 15px;
    padding-left: 8px;
    margin-top: 30px;
}